@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin:0;
}

.header {
  border: 1px solid steelblue;
  padding:10px;
}

ul {
  direction: rtl;
}

ul p {
  display: inline;
  float: left;
}

ul li {
  display: inline;
  margin: 0 5px;
  text-align: center;
  list-style-type: none;
}